<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客·CANCEL</title>
    <link rel="icon" type="image/x-icon" href="./i/favicon.png">
    <link rel="stylesheet" href="./i/style.css">
    <link rel="stylesheet" href="./i/style1.css">
</head>

<body>

    <div id="app">
        <div class="wrapper">
            <div class="nav">
                <div class="logo" @click="backIndex()">博客·cancel</div>
                <ul v-for="(item1,i) in types" :key="i">
                    <li v-for="(item,index) in contextList" :key="index" v-if="item.type==item1">
                        <a :href="item.url??('index.html?id='+item.id)">{{item.title}}</a>
                    </li>
                </ul>
            </div>
            <div class="context">
                <div class="section section1">
                    <h1 class="directory">{{context.title}}</h1>
                </div>
                <div class="section" v-for="(item,index) in context.context" :key="index">
                    <div v-for="(val,i) in item" :key="i">
                        <p v-if="val.type == 'text'" :style="val.style">{{val.text}}</p>
                        <p v-if="val.type == 'html'" :style="val.style" v-html="val.html"></p>
                        <img :src="val.url" alt="" v-if="val.type == 'img'" :style="val.style">
                    </div>
                </div>
            </div>
            <a href="./about.html"><img src="./i/cw.png" alt="" class="cw"></a>
            <div class="gg">
                <div class="close">×</div>
            </div>
            <!-- <a class="page-pre" :href="'?id='+(id-1)">上一篇</a>
            <a class="page-next" :href="'?id='+(id+1)">下一篇</a> -->
        </div>
        <div class="page-footer">
            <ul class="page-footer__list">
                <li class="page-footer__item page-footer__item_copy">
                    ©&nbsp;2020&nbsp; Chen Xianfeng
                </li>
                <li class="page-footer__item page-footer__item_about">
                    <a class="page-footer__link" href="./about.html">加入博客</a>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="./i/vue.js"></script>
<script src="./i/show.js"></script>
<script src="./i/index.js"></script>

</html>