
.nav {
    background: url(./galaxy-tour-badge.png) no-repeat;
    background-position: center 10px;
    background-size: 80%;
}
.context .section {
    background:none;
}
.directory {
    background:none;
}
.page-footer{
    background-color: #1c272b;
    border: none;
    z-index: 999;
}
.page-footer__item{
    color: #fff;
}
.logo{
    color: #1c272b;
}
.nav{
    background-color: #eee;
}
.nav ul li{
    height: 30px;
    font-size: 15px;
    line-height: 30px;
}
.nav ul li:hover{
    background-color: #1c272b;
}
.nav ul li a{
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
}
.nav ul li a:hover{
    text-decoration: underline;
    text-shadow:none;
    color: #fff;
}
.ss{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: fixed;
    left: 230px;
    top: 40px;
    cursor: pointer;
    z-index: 999;
}
.ss img{
    width: 60%;
    height: 60%;
    margin-top: 8px;
    margin-left: 8px;
}
.ss:hover{
    background-color: #f4f4f4;
}